# Core Django
Django
djangorestframework
django_redis
django-dirtyfields
django-filter

# Authentication JWT
djangorestframework-simplejwt

# Database
dj-database-url
psycopg2-binary  # PostgreSQL adapter

# Environment variables
python-decouple
# CORS
django-cors-headers

# API Documentation
drf-yasg

# Image handling
Pillow

# Celery (async tasks)
celery
redis

#validators
phonenumbers
email-validator

# WSGI server for production
gunicorn
whitenoise
sentry_sdk
gevent # Asynchronous worker for Gunicorn

django-anymail

# Testing (optional, for development)
coverage

#
Faker
requests

# Media Storage (S3)
django-storages[s3]
boto3
boto3
celery
coverage
dj-database-url
Django
django-anymail
django-cors-headers
django-dirtyfields
django-filter
django_redis
django-storages[s3]
djangorestframework
djangorestframework-simplejwt
drf-yasg
email-validator
Faker
gevent
gunicorn
phonenumbers
Pillow
psycopg2-binary
python-decouple
redis
requests
sentry_sdk
whitenoise
boto3
celery
coverage
dj-database-url
Django
django-anymail
django-cors-headers
django-dirtyfields
django-filter
django_redis
django-storages[s3]
djangorestframework
djangorestframework-simplejwt
drf-yasg
email-validator
Faker
gevent
gunicorn
phonenumbers
Pillow
psycopg2-binary
python-decouple
redis
requests
sentry_sdk
whitenoise
