{% extends "emails/base_email.html" %}

{% block content %}
    <p>Bonjour,</p>
    <p>Merci de vous être inscrit sur <strong>WiFiLeads Marketing</strong> ! Nous sommes ravis de vous accueillir.</p>
    <p>Pour finaliser votre inscription, veuillez utiliser le code de vérification ci-dessous :</p>
    
    <div class="otp-code">{{ code }}</div>
    
    <p>Ce code est valide pendant <strong>{{ ttl_minutes }} minutes</strong>. Si vous n'avez pas créé de compte, vous pouvez ignorer cet email en toute sécurité.</p>
    
    <p>Cordialement,<br>L'équipe WiFiLeads</p>
{% endblock %}
